@import "./variebles";
@import "./config";

main {
  .section-1 {
    .container {
      width: 100%;
      height: 600px;
      gap: 8px;

      .content-left {
        width: 70%;
        display: flex;
        align-items: center;
        background-image: url(../img/banner-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .content {
          width: 50%;
          height: 400px;
          margin: 150px 0 0 150px;
          small {
            color: #fff;
            display: block;
            padding-bottom: 10px;
          }
          span {
            display: block;
            width: 50px;
            height: 3px;
            background-color: #f4bc51;
          }
          h2 {
            margin-top: 20px;
            color: #fff;
            font-size: 60px;
            font-weight: lighter;
          }

          button {
            background-color: transparent;
            margin-top: 30px;
            color: #fff;
            font-weight: 600;
            font-size: 12px;
            width: 140px;
            height: 40px;
            border-radius: 30px;
          }
        }
      }
      .content-right {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        background-color: #f4bc51;
        padding: 90px 30px;

        .logo {
          text-align: center;
          padding-bottom: 8px;
          img {
            width: 70%;
          }
        }

        .content {
          text-align: center;

          h2 {
            font-size: 40px;
          }
          small {
            font-size: 12px;
            font-weight: 600;
          }

          span {
            width: 400px;
            height: 5px;
            margin: 35px 0;
            background-color: #fff;
          }

          p {
            font-size: 12px;
            font-style: italic;
          }

          .avatar {
            margin-top: 50px;

            ul {
              display: flex;
              justify-content: center;
              gap: 10px;

              li {
                width: 30px;
                height: 30px;
                font-size: 12px;
                background-color: #fff;
                color: #f4bc51;
                border-radius: 50%;
                text-align: center;
                padding: 8px 0;
              }
            }
          }
        }
      }
    }
  }

  .section-2 {
    .container {
      width: 100%;
      height: 500px;

      .content-left {
        width: 30%;
        background-image: url(../img/best-offer-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;

        .content {
          .pic {
            border: 1px solid #fff;
            border-radius: 50%;
            width: 130px;
            height: 130px;
            text-align: center;
            margin: 150px 150px 40px 150px;

            img {
              margin: 30% auto;
            }
          }
          p {
            color: #fff;
            font-weight: 600;
          }
        }
      }

      .content-right {
        width: 70%;
        background-color: #eee;

        .box {
          display: flex;
          margin: 70px 40px;

          .content {
            width: 50%;

            h2 {
              font-size: 30px;
              font-weight: lighter;
            }
            span {
              display: inline;
              color: #b94e5e;
              font-weight: bold;
            }
            p {
              padding: 20px 0;
              font-size: 14px;
              line-height: 1.5;
              color: #616161;
            }

            ul {
              li {
                font-size: 12px;
                font-style: italic;
                color: #858382;
                padding: 5px 0;
              }
            }

            button {
              padding: 12px 16px;
              margin-top: 30px;
              border-radius: 30px;
              background-color: #b94e5e;
              color: #fff;
              font-size: 12px;
              font-weight: 600;
              border: none;
            }
          }

          .pic {
            width: 50%;
          }
        }
      }
    }
  }

  .section-3 {
    .container {
      width: 100%;
      height: 730px;
      flex-direction: column;
      background-image: url(../img/events-bg.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .header {
        margin: 70px auto 50px auto;
        ul {
          display: flex;
          font-size: 12px;
          font-weight: 600;

          li {
            span {
              color: #f4bc51;
            }
            width: 150px;
            height: 50px;
            font-size: 12px;
            font-weight: 600;
            text-align: center;
            padding-top: 20px;
            background-color: #fff;
            margin-left: 3px;
          }
        }
      }

      .table {
        margin: 0 auto;
        width: 75%;
        #col-line-1 {
          background-color: #eeeeee;
        }
        #col-line-2 {
          background-color: #dddddd;
        }

        .line {
          display: flex;
          height: 95px;
          border-bottom: 5px solid #fff;
          padding: 10px;
          small {
            color: #000;
          }

          .cont-1 {
            width: 70px;
            height: 70px;
            background-color: #f4bc51;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            padding: 15px;
            text-align: center;
          }
          .cont {
            display: flex;
            width: 100%;
            padding: 0 20px;
            justify-content: space-between;
            margin: auto 0;

            #small-1 {
              small {
                color: #bc5675;
                font-weight: 600;
                font-size: 12px;
              }
            }
            #small-2 {
              small {
                color: #f4bc51;
                font-weight: 600;
                font-size: 12px;
              }
            }
            #small-3 {
              small {
                color: #f45151;
                font-weight: 600;
                font-size: 12px;
              }
            }

            .cont-2 {
              // margin: 0 140px 0 20px;
            }

            .cont-3 {
              text-align: center;
              padding-right: 150px;
              small {
                color: #626060;
              }
            }

            .cont-4 {
              button {
                padding: 12px 18px;
                border-radius: 20px;
                border: none;
                background-color: #fff;
                font-size: 12px;
                font-weight: 600;
                
              }
            }
          }
        }
        .n-border {
          border-bottom: none;
        }
      }
    }
  }
  .section-4 {
    .container {
      height: 600px;
      .content-left {

      }
      .content-right {
        background-image: url(../img/testimonial-bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 8px;
       text-align: center;

       .profile-pic {
         padding: 130px 0 30px 0;
       }

        .content {
          width: 70%;
          margin: 0 auto;

          small {
            color: #e96b6b;
            font-style: italic;
          }
          h4 {
            padding: 10px 0 20px 0;
          }
          p{
            font-size: 14px;
            color: #767676;
            letter-spacing: 1px;
            font-style: italic;
          }
        }
      }
    }
  }
}
